* {
    
    box-sizing: border-box;
  }
  body{
    background-color:#cbe0bf ;
  }
main{
   width: 50%;
   height: 100%;
    padding: 100px 38px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem; 


}
header{
    text-align: center;
    width: 100%;
    background-color:rgb(32, 30, 30);
  }
.h1header{
    text-align: left; 
    font-weight: bold;
    font-size: xx-large;
    font-size: xx-large;
    padding-top: 40px;
    padding-left: 100px;
    color:yellowgreen;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* left: 5px; */
 
   }
   #logo{
       width:90px;
       height: 80px;
       float: left;
       border-radius: 100%;
       position: relative;
         margin-top: 10px;
         /* margin-left: 60px; */
   }
   #one ul {
     width:100%;
     vertical-align:text-bottom;
     position:relative;
     /* left :400px; */
  text-align:end;
  right: 90px;
     bottom: 30px;
     /* padding-left: 300px; */
 
     
   }
 .link:hover{
     transform: rotateZ(-10deg);
     box-shadow: 0 2px 0 #444a4d;
     transition-duration: 0.5s;
     transition-delay: 0s;
     transition-timing-function: cubic-bezier(.77,-0.7,.24,1.64);
 }
 
 .h1{
     font-family:'Merienda', cursive ;
   position: relative;
   left: 320px; 
   width: 130%;
   background-image:url('/img/sharpshooters.gif') ;
   background-size:800px 200px ,cover;
   background-repeat: no-repeat;
   padding: 100px;
   padding-top:70px;
   
   padding-left:250px;
   font-size:44px;

 }
 #one ul li {
  display: inline-block;
  margin-top:0px;
  margin-left:40px;
 }
 #one a {
 color:blanchedalmond;
 text-decoration:none;
 font-family:'Merienda', cursive;
 font-size: large;
 font-weight: bold;
 }
 #one a:hover{
 color: rgb(133, 131, 131);
 /* color: rgb(77, 75, 75); */
 }
 #one {
  
     /* background-color: rgb(238, 232, 232); */
      
     margin-bottom:50px;
     padding-bottom:15px ;
 }
 h1{
 text-align: center;
 font-size: 65px;
 font-family:'Merienda', cursive;
 font-weight: bolder;
 color:yellowgreen;
 text-transform: capitalize;
 
 }

 
.inf{
    float: left;
    width: 650px;
    height: 350px;
    margin: 40px 100px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 2px 2px #ddd;
    position: relative;
    margin-top: 100px;
    border: hidden;
    border-radius: 10%;
    }
    
    #lastInf{
        
        float: right;
        position: relative;
        top: 150px;
        right: 250px;
    }
    
    .inf img{
    background-color: rgb(26, 26, 26);
    border-radius: 20%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    }
    
    .inf .names{
    position: absolute;
    z-index: 0;
    text-align:left;
    font-size: xx-large;
    font-family: 'Merienda', cursive ;
    width: 45%;
    
    }
  
.paragraph{
    position: absolute;
    z-index: 0;
    }
    .inf .links{
    margin: 65px 245px;
    width: 400px;
    position: relative;
    top: 220px;
    }
    .divImg .m1{
    animation: slide ease 3s;
    position: relative;
    float: left;
    /* margin-top: 25px; */
    background-color: #f5f5f5;
    width: 220px;
    height: 230px;
    left: 0;
    z-index: 1;
    border-radius: 60%;
    vertical-align: middle;
    padding-top: 20px;
    }
   .container1{
     width:fit-content;
     height: fit-content;
     font-size:medium ;
   }
   
   .N1{
       float: left;
       position: relative;
       right: 50px;
   }
   .N2{
       float: left;
       position: relative;
       left: 630px;
       bottom: 980px;
   }
    .inf p{
    padding-bottom: 15px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    /* text-align: justify; */
    margin-top: 85px;
    margin-left: 241px;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 110%;
    }
    
    .inf h1{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 240px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    width: 40%;
    color:rgb(66, 62, 62);
    
    }
    
    /* @keyframes  slide {
    from {padding-left: 250px;}
    to {padding-left:0px;}
    from {left: 180px;}
    to {left: 0px;}
    from{width: 220px;}
    to{width: 20px;}
    from{border-radius: 0px;}
    to{border-radius: 100%;}
    } */
    .inf:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
    }

    
   #dateTime{
   
      font-size:large;
      color: yellowgreen;
      /* padding:10px; */
      border-radius:10%;
      animation: skew 1s cubic-bezier(0.6, -0.28, 0.735, 0.045)  infinite;
      font-family: 'DotGothic16', sans-serif;
  }
  @keyframes skew{
    from {transform:skewX(3deg);}
    to { transform:skewX(-3deg);}
}
   
   .dropdown{
       position: relative;
       bottom: 8px;
   }
  
   footer{
    background-color:rgb(29, 26, 26) ;
    position: relative;
    width: 100%;
    height: 150px;
     top: 1500px; 
    margin-top: 0px;
  }
  footer p{
    font-family:'Merienda', cursive ;
    font-size:large;
  color: yellowgreen;
  /* margin-top:50px; */
  position: relative;
  right: 350px;

  }
  div #icons li{
      display: inline-block;
      width:30px;
      height:40px;
     
  }
  #icons{
      padding: 20px;
      font-size: xx-large;
      position: relative;
      right: 230px;
      
  }
  