html {
  background: linear-gradient(#8790a0, #243b55);
}
/* styling the header */
#logo {
  width: 130px;
  height: 120px;
  float: left;
  border-radius: 40%;
}

#one ul {
  width: 500px;
  vertical-align: middle;
  padding-top: 13px;
  position: relative;
  padding-left: 770px;
  top: 55px;
}
.links:hover {
  transform: rotateZ(-10deg);
  box-shadow: 0 2px 0 #444a4d;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.77, -0.7, 0.24, 1.64);
}
#dateTime {
  font-size: small;
  color: #161616;
  padding: 10px;
  border: solid black 1px;
  border-radius: 10%;
  background: rgb(205, 217, 221);
  animation: skew 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
  font-family: "DotGothic16", sans-serif;
}
@keyframes skew {
  from {
    transform: skewX(3deg);
  }
  to {
    transform: skewX(-3deg);
  }
}

#one ul li {
  display: inline-block;
  margin-top: 0px;
  margin-left: 40px;
}
#one a {
  color: black;
  text-decoration: none;
  font-family: "Merienda", cursive;
  font-size: large;
  font-weight: bold;
}
#one a:hover {
  color: rgb(133, 131, 131);
}
#one {
  background-color: rgb(238, 232, 232);
  margin-bottom: 50px;
  padding-bottom: 75px;
}

/* styling form */

#formBox {
  position: relative;
  top: 90px;
  left: 30%;
  width: 200px;
  padding: 100px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: cornsilk;
}
#formBox legend {
  position: relative;
  font-family: "Kanit", sans-serif;
  text-align: center;
  bottom: 70px;
}
#formBox .inbox {
  position: relative;
}
#formBox .inbox input {
  position: relative;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#formBox form #buttoncontainer {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
}
#buttoncontainer #button {
  background-color: #243b55;
  border: none;
  color: white;
}
#formBox #buttoncontainer:hover {
  background-color: #243b55;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 100px #03e9f4;
}

#formBox #buttoncontainer span {
  position: absolute;
  display: block;
}

#formBox #buttoncontainer span:nth-child(2) {
  top: 3px;
  width: 100%;
  height: 2px;
  background-color: #03e9f4;
  animation: btn-anim1 1s linear infinite;
}

#formBox #buttoncontainer span:nth-child(3) {
  right: 7px;
  width: 2px;
  height: 100%;
  background-color: #03e9f4;
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

#formBox #buttoncontainer span:nth-child(4) {
  bottom: 3px;
  width: 100%;
  height: 2px;
  background-color: #03e9f4;
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

#formBox #buttoncontainer span:nth-child(5) {
  left: 7px;
  width: 2px;
  height: 100%;
  background-color: #03e9f4;
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* styling the footer */
footer {
  background-color: rgb(238, 232, 232);
}
footer p {
  font-family: "Merienda", cursive;
  font-size: large;
}
div #icons li {
  display: inline-block;
  width: 30px;
  height: 40px;
}

#icons {
  padding: 20px;
}
